<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bus_details.css">
</head>
<body>
    <h1>INSERTION IN BUS COLLECTION</h1>
    <form action="/create/Bus_collection" method="post">
        <label class="form-label">Enter the Bus Name: 
           <input type="text" name="name">
        </label><br><br>
        <label class="form-label">Enter the Bus Regno: 
            <input type="text" name="regno">
         </label><br>
         <br>
         <label class="form-label">Enter the Capacity: 
            <input type="number" name="capacity">
         </label><br>
         <br>
         <h2>Seats</h2>
         <label class="form-label">Enter the No. Sleeper Seats: 
            <input type="number" name="sleeper_seats">
        </label><br>
         <br>
         <label class="form-label">Enter the No. Pushback Seats: 
            <input type="number" name="pushback_seats">
        </label><br>
         <br>
         <label class="form-label">Enter the No. of Men Seats: 
            <input type="number" name="men_seats">
        </label><br>
         <br>
         <label class="form-label">Enter the No. of Women Seats: 
            <input type="number" name="women_seats">
        </label><br>
         <br>
         <label class="form-label">Enter the Diesel_capacity:
        <input type="number" name="diesel_capacity" id="phone_num">
         </label>
         <br>
         <br>
         <label class="form-label">Enter the Mileage:
            <input type="number" name="mileage">
        </label>
        <label class="form-label">
            <label class="form-label">Last FC Done Date:
            <input type="date" name="last_fc_done" >
            </label>
            <br>
            <br>
            <label class="form-label">Years of Bus:
                <input type="number" name="years_of_bus">
            </label>
            <br>
            <br>
            <label class="form-label">No. Of FC'S Done on Bus:
                <input type="number" name="total_fcs">
            </label>
            <br>
            <br>
      <input type="submit" class="button-64">
    </form>

</body>
</html>