<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tollgate.css"> 
</head>
<body>
    <h1>Delete in Place</h1>
    <form action="/dquery2/ans" method="post">
        <label class="form-label">Enter Schedule ID: 
            <select name="pid" id="plactype">
                <% for(var i=0; i < data.length; i++) { %>
                    <option value="<%= data[i].place_id %>"><%= data[i].place_id %></option>
               <% } %>
            </select>
        </label><br><br>      
      <input type="submit" class="button-64">
    </form>
</body>
</html>