<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tollgate.css"> 
</head>
<body>
    <h1>After INSERTION IN Place COLLECTION</h1>
    <h1>Place Inserted</h1>
    <% for(var i=0; i < data.length; i++) { %>
          <p><%= data[i].place_id %></p>
          <p><%= data[i].place_name %></p>
          <p><%= data[i].place_type %></p>
     <% } %>
      
</body>
</html>