<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="driver_details.css"> 
</head>
<body>
    <h1>Drivers with more experience in HILLS</h1>
    <% if(data.length>0) { %>
            <p>The place which is less accident prone is:<%= data[0].place_name %>  it is situated in the state <%= data[0].place_state %> with place id <%= data[0].place_id %> </p>
    <% } else{ %>
        <p>No such Places</p>
    <% } %>
    

</body>
</html>