<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tollgate.css"> 
</head>
<body>
    <h1>Update in the Toll Price for Truck</h1>
    <form action="/uquery3/ans" method="post">
        <label class="form-label">Enter Toll ID: 
            <select name="tid" id="plactype">
                <% for(var i=0; i < data.length; i++) { %>
                    <option value="<%= data[i].tollgate_id %>"><%= data[i].tollgate_id %></option>
               <% } %>
            </select>
        </label><br><br>
        <label class="form-label">Enter the New Price:
            <input type="Number" name="p" id="price" >
             </label>
             <br>
      <input type="submit" class="button-64">
    </form>
</body>
</html>