<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="driver_details.css"> 
</head>
<body>
    <h1>Updated Email</h1>
    <p>The Old mail id is:<%= data[0].email %></p>        
    <p>Updated Mail Id is <%= data2[0].email %> </p>    

</body>
</html>